# Copyright (c) 2020 National Instruments
# SPDX-License-Identifier: MIT

branches:
  except:
    - gh-pages
image: Visual Studio 2017
init:
- tzutil /s "Central Standard Time"
- cmd: node -v
- cmd: npm -v
- cmd: python -V
- cmd: pip -V
- ps: $PSVersionTable
install:
  - ps: Install-Product node 8
  - appveyor-retry chocolatey install make
  - appveyor-retry chocolatey install gnuwin32-coreutils.portable
  - appveyor-retry npm install
  - pip install tox
  - ps: Start-Process npm "run httpbin" -PassThru
  - git clone https://github.com/juj/emsdk.git
  - cd emsdk && git checkout 369013943283939412fb2807bb0d2ded8ebd5a9e && cd ..
  - ps: emsdk\emsdk install 1.39.5-fastcomp
  - ps: emsdk\emsdk activate 1.39.5-fastcomp
platform:
  - Win32
configuration:
  - Debug
before_build:
# TODO capture standard out and error to log at the end?
# TODO script needed to wait for server startup?
  - make lint
  - npm run lint
build:
  project: Vireo_VS/VireoCommandLine.sln
after_build:
  - make vjs
  - ps: $env:package_version = (Get-Content -Raw -Path package.json | ConvertFrom-Json).version
  - ps: nuget pack VireoSDK.nuspec -properties version="$env:package_version"
test_script:
  - make testjs
  - make testnative
  - make testhttpbin
  - npm run test-min -- --browsers FirefoxHeadless --skip-tags FailsFirefox

# Using the same naming convention as rust https://forge.rust-lang.org/platform-support.html
after_test:
  - set ESH_i686_DEBUG=esh_%APPVEYOR_REPO_TAG_NAME%_i686-pc-windows-msvc_debug.zip
  - 7z a %ESH_i686_DEBUG% %APPVEYOR_BUILD_FOLDER%\dist\Debug\esh.exe %APPVEYOR_BUILD_FOLDER%\dist\Debug\esh.pdb %APPVEYOR_BUILD_FOLDER%\README.md %APPVEYOR_BUILD_FOLDER%\LICENSE.txt
artifacts:
  - path: '%ESH_i686_DEBUG%'
    name: '%ESH_i686_DEBUG%'
    type: Zip
  - path: '*.nupkg'
deploy:
  - provider: GitHub
    description: $(APPVEYOR_REPO_COMMIT_MESSAGE)
    auth_token:
      secure: Asuu2xJwFoy8ML6DIsZf2mqlgdO2b1dQRCJALbYpUFNP/3DjuhBPDcWiSxTK6iw/
    artifact: '%ESH_i686_DEBUG%'
    force_update: true	
    tag: $(APPVEYOR_REPO_TAG_NAME)	
    on:	
      appveyor_repo_tag: true

  - provider: NuGet
    artifact: '/.*\.nupkg/'
    api_key:
      secure: MHTM6BhQ7PXYB4XOSpcx57N9Uk3PWwief7mGUoDbKgv3kKfXdPEDHAYNJrBU+hGU
    on:	
      appveyor_repo_tag: true
