version: {build}
branches:
  except:
    - gh-pages
image: Visual Studio 2017
init:
- tzutil /s "Central Standard Time"
- cmd: node -v
- cmd: npm -v
- cmd: python -V
- cmd: pip -V
install:
  - chocolatey install make
  - chocolatey install gnuwin32-coreutils.portable
  - npm install
platform:
  - Win32
configuration:
  - Debug
before_build:
  - npm run createobjs
build:
  project: Vireo_VS/VireoCommandLine.sln
test_script:
  - make testnative

