branches:
  except:
    - gh-pages
image: Visual Studio 2017
init:
- tzutil /s "Central Standard Time"
- cmd: node -v
- cmd: npm -v
- cmd: python -V
- cmd: pip -V
- ps: $PSVersionTable
install:
  - ps: Install-Product node 8
  - appveyor-retry chocolatey install make
  - appveyor-retry chocolatey install gnuwin32-coreutils.portable
  - appveyor-retry npm install
  - pip install tox
  - ps: Start-Process npm "run httpbin" -PassThru
  - git clone https://github.com/juj/emsdk.git
  - cd emsdk && git checkout 2da530aa5e6d6bcaf994ed1b2613a98872a428c8 && cd ..
  - ps: emsdk\emsdk install sdk-1.37.36-64bit
  - ps: emsdk\emsdk activate sdk-1.37.36-64bit
platform:
  - Win32
configuration:
  - Debug
before_build:
# TODO capture standard out and error to log at the end?
# TODO script needed to wait for server startup?
  - make lint
  - npm run lint
build:
  project: Vireo_VS/VireoCommandLine.sln
after_build:
  - cmd /c make-it\appveyor-support\setup-env-and-make-vjs.bat
  - ps: $env:package_version = (Get-Content -Raw -Path package.json | ConvertFrom-Json).version
  - ps: nuget pack VireoSDK.nuspec -properties version="$env:package_version"
test_script:
  - make testjs
  - make testnative
  - make testhttpbin
  - npm run test -- --browsers FirefoxHeadless
  - npm run test -- --browsers IE --skip-tags FailsIE

# Using the same naming convention as rust https://forge.rust-lang.org/platform-support.html
after_test:
  - set ESH_i686_DEBUG=esh_%APPVEYOR_REPO_TAG_NAME%_i686-pc-windows-msvc_debug.zip
  - 7z a %ESH_i686_DEBUG% %APPVEYOR_BUILD_FOLDER%\dist\Debug\esh.exe %APPVEYOR_BUILD_FOLDER%\dist\Debug\esh.pdb %APPVEYOR_BUILD_FOLDER%\README.md %APPVEYOR_BUILD_FOLDER%\LICENSE.txt
artifacts:
  - path: '%ESH_i686_DEBUG%'
    name: '%ESH_i686_DEBUG%'
    type: Zip
  - path: '*.nupkg'
deploy:
  - provider: GitHub
    description: $(APPVEYOR_REPO_COMMIT_MESSAGE)
    auth_token:
      secure: Asuu2xJwFoy8ML6DIsZf2mqlgdO2b1dQRCJALbYpUFNP/3DjuhBPDcWiSxTK6iw/
    artifact: '%ESH_i686_DEBUG%'
    force_update: true	
    tag: $(APPVEYOR_REPO_TAG_NAME)	
    on:	
      appveyor_repo_tag: true

  - provider: NuGet
    artifact: '/.*\.nupkg/'
    api_key:
      secure: O5sZ6nRPlF2WbhTUSvrSTou7s6Pdg7G4PClfzvlGTU2XGwErDYRNyayAsUzjFsTl
    on:	
      appveyor_repo_tag: true
notifications:
  - provider: Webhook
    url: https://outlook.office.com/webhook/6ee4efaa-986e-4b8e-8d6b-cfa47c89f4b0@87ba1f9a-44cd-43a6-b008-6fdb45a5204e/IncomingWebhook/48bf1f46af764a2ea8cb38acd029bb5a/0ad415e3-d66a-425c-9914-e9e52f2b81e1
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
    body: >-
      {
        "title": "AppVeyor Build {{#passed}}passed{{/passed}}{{#failed}}failed{{/failed}}",
        "summary": "Build {{projectName}} {{buildVersion}} {{status}}",
        "themeColor": "{{#passed}}00FF00{{/passed}}{{#failed}}FF0000{{/failed}}",
        "sections": [
            {
                "activityTitle": "{{commitAuthor}} on {{commitDate}} ( {{repositoryProvider}}/{{repositoryName}} )",
                "activityText": "[Build {{projectName}} {{buildVersion}} {{status}}]({{buildUrl}})"
            },
            {
                "title": "Details",
                "facts": [
                    {
                        "name": "Commit",
                        "value": "[{{commitId}} by {{commitAuthor}} on {{branch}} at {{commitDate}}]({{commitUrl}})"
                    },
                    {
                        "name": "Message",
                        "value": "{{commitMessage}}"
                    },
                    {
                        "name": "Duration",
                        "value": "{{duration}} ({{started}} - {{finished}})"
                    }
                ]
            }
        ]
      }
