branches:
  except:
    - gh-pages
image: Visual Studio 2017
init:
- tzutil /s "Central Standard Time"
- cmd: node -v
- cmd: npm -v
- cmd: python -V
- cmd: pip -V
- ps: $PSVersionTable
install:
  - ps: Install-Product node 8
  - appveyor-retry chocolatey install make
  - appveyor-retry chocolatey install gnuwin32-coreutils.portable
  - appveyor-retry npm install
  - pip install tox
  - ps: Start-Process npm "run httpbin" -PassThru
  - git clone https://github.com/juj/emsdk.git
  - cd emsdk && git checkout 0d8576c0e8f5ee09a36120b9d44184b5da2f2e7a && cd ..
  - ps: emsdk\emsdk install sdk-1.38.12-64bit
  - ps: emsdk\emsdk activate sdk-1.38.12-64bit
platform:
  - Win32
configuration:
  - Debug
before_build:
# TODO capture standard out and error to log at the end?
# TODO script needed to wait for server startup?
  - make lint
  - npm run lint
build:
  project: Vireo_VS/VireoCommandLine.sln
after_build:
  - cmd /c make-it\appveyor-support\setup-env-and-make-vjs.bat
  - ps: $env:package_version = (Get-Content -Raw -Path package.json | ConvertFrom-Json).version
  - ps: nuget pack VireoSDK.nuspec -properties version="$env:package_version"
test_script:
  - make testjs
  - make testnative
  - make testhttpbin
  - npm run test -- --browsers FirefoxHeadless

# Using the same naming convention as rust https://forge.rust-lang.org/platform-support.html
after_test:
  - set ESH_i686_DEBUG=esh_%APPVEYOR_REPO_TAG_NAME%_i686-pc-windows-msvc_debug.zip
  - 7z a %ESH_i686_DEBUG% %APPVEYOR_BUILD_FOLDER%\dist\Debug\esh.exe %APPVEYOR_BUILD_FOLDER%\dist\Debug\esh.pdb %APPVEYOR_BUILD_FOLDER%\README.md %APPVEYOR_BUILD_FOLDER%\LICENSE.txt
artifacts:
  - path: '%ESH_i686_DEBUG%'
    name: '%ESH_i686_DEBUG%'
    type: Zip
  - path: '*.nupkg'
deploy:
  - provider: GitHub
    description: $(APPVEYOR_REPO_COMMIT_MESSAGE)
    auth_token:
      secure: Asuu2xJwFoy8ML6DIsZf2mqlgdO2b1dQRCJALbYpUFNP/3DjuhBPDcWiSxTK6iw/
    artifact: '%ESH_i686_DEBUG%'
    force_update: true	
    tag: $(APPVEYOR_REPO_TAG_NAME)	
    on:	
      appveyor_repo_tag: true

  - provider: NuGet
    artifact: '/.*\.nupkg/'
    api_key:
      secure: O5sZ6nRPlF2WbhTUSvrSTou7s6Pdg7G4PClfzvlGTU2XGwErDYRNyayAsUzjFsTl
    on:	
      appveyor_repo_tag: true
