# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.vntr
Vireo_SimpleMake/asm/
Vireo_VS2012/VireoCommandLine/Debug/Queue.obj
Vireo_VS2012/VireoCommandLine/Debug/
*.ipch
hw10000.via
hw100000.via
Vireo_SimpleMake/objs/
*.opensdf
Vireo_VS2012/VireoCommandLine/VireoCommandLine.sdf
make-it/asm/
make-it/objs/
Vireo_VS2012/VireoCommandLine/VireoCommandLine.vcxproj.user
Vireo_XCode/Instruments_hw100000.trace/shared_data
Vireo_XCode/Instruments_hw100000.trace/instrument_data
Vireo_XCode/Instruments_hw100000.trace/Trace*.run
bin/
Private
Vireo_XCode/VireoCanvas/DerivedData
Vireo_XCode/VireoCanvas/VireoCanvas.xcodeproj/xcuserdata
Vireo_XCode/VireoCanvas/VireoCanvas.xcodeproj/project.xcworkspace/xcuserdata
Vireo_XCode/build
GeneratedDox
Documents/dox/latex
Documents/dox/html
PrivateDocSource
*.pbxuser
*.xccheckout
sample-vis copy
widget_and_html
runlog.txt
*.mode1v3
Documents/dox/online
Vireo_Web/objs/*.bc
Documents/dox/old.online
sample-vis/Gyro Boy 11_30
sample-vis/Gyro Boy 12_15
sample-vis/Gyro Boy Fix2
Vireo_XCode/VireoEggShell.xcodeproj/project.xcworkspace/xcuserdata
Vireo_XCode/VireoEggShell.xcodeproj/xcuserdata
make-it/build
source/io/LINX
sample-vis/SampleLVNativeMethod/Canvas2D/DerivedData
sample-vis/SampleLVNativeMethod/Canvas2D/Canvas2D.xcodeproj/project.xcworkspace/xcuserdata
sample-vis/SampleLVNativeMethod/Canvas2D/Canvas2D.xcodeproj/xcuserdata
Vireo_Web/emsdk_portable
Documents/gh-pages
test-it/node_modules
make-it/emsdk_portable
slmicro
vilib/analysis/source
Eclipse-workspace/Task-00-ProjectTemplate
Eclipse-workspace/Task-01-Blink
Eclipse-workspace/Task-02-Button
Eclipse-workspace/Task-03-Interrupts
Eclipse-workspace/Task-04-SysTick
Eclipse-workspace/Task-05-Serial
Eclipse-workspace/Task-07VTest
Eclipse-workspace/Task-VBlink
node_modules
poly2
poly3
birdwatcher
source/antlr/gen-js
