# Copyright (c) 2020 National Instruments
# SPDX-License-Identifier: MIT

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.vntr

# Single character via files assumed to be temporary test/debug hacks
?.via
?2.via

.DS_Store
Vireo_Xcode/VireoEggShell.xcodeproj/xcshareddata/xcschemes/EggShell.xcscheme
make-it/esh
target-support/
dist/
custom.mak
settings.json

# Coverage Files
cov.info
html_coverage_output/

# Visual Studio Ignores
/Vireo_VS/.vs/*
Vireo_VS/Debug/*
Vireo_VS/Release/*
Vireo_VS/VireoCommandLine.sdf
Vireo_VS/VireoCommandLine.vcxproj.user
Vireo_VS/_Resharper.Caches/*
Vireo_VS/VireoCommandLine.sln.DotSettings.user
Vireo_VS/VireoCommandLine/*
**.VC.db
**.opendb
**.suo
.vscode/
.vs/*

# Other
c_cpp_properties.json
Vireo_SimpleMake/asm/
*.ipch
hw10000.via
hw100000.via
Vireo_SimpleMake/objs/
*.opensdf
make-it/asm/
make-it/objs/
objs/
Vireo_XCode/Instruments_hw100000.trace/shared_data
Vireo_XCode/Instruments_hw100000.trace/instrument_data
Vireo_XCode/Instruments_hw100000.trace/Trace*.run
bin/
Private
private
Vireo_XCode/VireoCanvas/DerivedData
Vireo_XCode/VireoCanvas/VireoCanvas.xcodeproj/xcuserdata
Vireo_XCode/VireoCanvas/VireoCanvas.xcodeproj/project.xcworkspace/xcuserdata
Vireo_XCode/build
GeneratedDox
Documents/dox/latex
Documents/dox/html
PrivateDocSource
*.pbxuser
*.xccheckout
sample-vis copy
widget_and_html
runlog.txt
*.mode1v3
Documents/dox/online
Vireo_Web/objs/*.bc
Documents/dox/old.online
sample-vis/Gyro Boy 11_30
sample-vis/Gyro Boy 12_15
sample-vis/Gyro Boy Fix2
Vireo_XCode/VireoEggShell.xcodeproj/project.xcworkspace/xcuserdata
Vireo_XCode/VireoEggShell.xcodeproj/xcuserdata
Vireo_VS/_ReSharper.VireoCommandLine
make-it/build
source/io/LINX
Vireo_Web/emsdk_portable
gh-pages
test-it/node_modules
test-it/temp
make-it/emsdk_portable
slmicro
vilib/analysis/source
Eclipse-workspace/Task-00-ProjectTemplate
Eclipse-workspace/Task-01-Blink
Eclipse-workspace/Task-02-Button
Eclipse-workspace/Task-03-Interrupts
Eclipse-workspace/Task-04-SysTick
Eclipse-workspace/Task-05-Serial
Eclipse-workspace/Task-07VTest
Eclipse-workspace/Task-VBlink
node_modules
poly2
poly3
birdwatcher
source/antlr/gen-js
local
npm-debug.log
make-it/linktest
make-it/compile.bat
make-it/make.exe
env/
.tox/
*.tgz
coverage/
emscripten-sdk/
emsdk/
nohup.out
emsdk-tools/
*.nupkg
