# Ignore all files in all subdirectories
**/*

# Only visit the following subdirectories and extract specific files
# npm will force include README*, LICENSE*, and package.json files
# so do not visit subdirectories using **/* patterns or extra files will be included
# can test output by running npm pack
!/dist/wasm32-unknown-emscripten/release/*.*
!/dist/wasm32-unknown-emscripten/debug/*.*
!/dist/wasm32-unknown-emscripten/profile/*.*

!/source/core/*.js
/source/core/library_*.js
/source/core/vireo.wrapper.js

!/source/io/*.js
/source/io/library_*.js
